# UART Configuration
UART_PORT=/dev/ttyUSB0
BAUDRATE=115200

# NTRIP Configuration
NTRIP_HOST=ntrip.data.gnss.ga.gov.au
NTRIP_PORT=2101
NTRIP_MOUNTPOINT=SPPT00AUS0
NTRIP_USERNAME=XXX
NTRIP_PASSWORD=XXX
NTRIP_USE_HTTPS=false
NTRIP_USER_AGENT=LC29HDA-Client

# Streaming NMEA over TCP
TCP_PORT='10112'
TCP_HOST='0.0.0.0'
TCP_MAX_CLIENTS=10

TCP_ALLOW='RMC,VTG,GGA'
TCP_ONLY_RTK_FIXED=true

LOG_FILE='rtk_log.csv'
LOG_WRITE_PERIOD=180